/* Global variables for colors */
:root {
    --light-text-color-dark-bg: #dbdbdb;
    font-family: Arial, sans-serif;
}

body, h1, h2, h3 {
    margin: 0;
}


.center-main-axis {
    display: flex;
    justify-content: center;
}

.center-cross-axis {
    display: flex;
    align-items: center;
}

.light-grey-bg {
    background-color: #282828;
    color: var(--light-text-color-dark-bg);
}

.light-purple-bg {
    background-color: #37006e;
    color: var(--light-text-color-dark-bg);
}

.dark-purple-bg {
    background-color: #230046;
    color: var(--light-text-color-dark-bg);
}

.dark-grey-bg {
    background-color: #141414;
    color: var(--light-text-color-dark-bg);
}

.root-container {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr;
    grid-template-areas: 
        "dashboard header"
        "dashboard content"
        "footer footer";
}

.header {
    grid-area: header;
}

.dashboard {
    grid-area: dashboard;
    padding-left: 10px;
}

.content {
    grid-area: content;

    padding: 1em;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "games-overview games-overview games-overview friends-list"
        "games-overview games-overview games-overview friends-list"
        "games-overview games-overview games-overview messages-list"
        "games-overview games-overview games-overview messages-list";
    gap: 10px;
}

.games-overview {
    grid-area: games-overview;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
    
}

.game-mini > img {
    width: 200px;
    height: 200px;
}

.game-mini {
    text-align: center;
}

.friends-list {
    grid-area: friends-list;
}

.messages-list {
    grid-area: messages-list;
}

.footer {
    grid-area: footer;
}

.dashboard-icon {
    width: 25px;
    height: 25px;
    background-color: var(--light-text-color-dark-bg);
    border-radius: 3px;

    margin: 8px 10px;
}

.dashboard-options > div {
    /* CHANGE LATER */
}

.logo-icon {
    width: 80px;
    height: 80px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
}

.profile-card {
    display: flex;
    align-items: center;
    margin: 6px;
    border-radius: 5px;
    border: 2px solid #141414;
}

.profile-card > h3{
    margin: 5px
}


